@charset "UTF-8";

body {
    background-color: rgb(213, 255, 213);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 107, 1);

}

h2 {
    color: rgb(22, 151, 22);
}

h1#principal {
    background-color: white;
    border-radius: 70px;
    padding: 7px;
    margin: auto;
    box-shadow: 2px 2px 3px black;
    text-align: center;
    color: black;
}

p#principal {
    background-color: white;
    border-radius: 70px;
    padding: 70px;
    margin: auto;
    box-shadow: 2px 2px 3px black;
    text-align: center;
    color: black;
    width: 550px;
}

.basico {
    color: rgb(155, 20, 20);
}

.intermediario  {
    color: rgb(22, 41, 151);
}

.negrito  {
    font-weight: bolder;
    text-shadow: 1px 1px 15px black;
}

.video {
    width: 750px;
    margin: auto;
    padding: auto;
}