@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;   
    padding: 80px;
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    font-weight: bolder;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
    text-decoration: underline;
    color: rgb(197, 197, 197);
    transition-duration: 1s;
}

.part1 {
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

.part1 p {
    padding: 50px 0px 50px 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    line-height: 2em;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.part2 {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    height: 90vh;
}

.part2 p {
    background-color: rgba(0, 0, 0, 0.589);
    max-width: 400px;
    max-height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.part3 {
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
    
}

.part4 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center left;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.part4 p {
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    line-height: 2em;
    
}

.part5 {
    background-color: white;
}

.part5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    line-height: 2em;
    padding: 20px 0px 20px 10px;

}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(211, 211, 211);
    transition-duration: 1s;
}